In [1]:
import pandas as pd

- 2016_health_checkup.csv : 사람 건강검진 공공데이터

In [3]:
df1 = pd.read_csv("2016_health_checkup_1.csv")

In [5]:
# 2016_health_checkup_1.csv 이런 데이터가 4개가 있다.
# 항목(col)들은 다 같은데, row 개수가 많아서
# 파일을 여러개로 나눠놓은 데이터이다.

# 정말 그런지 확인해보자

In [7]:
#어떤 항목들이 있는지 눈으로 확인해보자.
# In[n]에 작성하는 code도 중요하지만 Out[n]의 결과도 중요하다.
# 선 In[n]에 code 작성, 후 Out[n] 결과 독해.


# df1 col이 이렇다.
# 다른 csv도 이런가? 
df1.columns

Index(['가입자일련번호', '성별코드', '연령대코드(5세단위)', '시도코드', '신장(5Cm단위)', '체중(5Kg단위)',
       '허리둘레', '시력(좌)', '시력(우)', '청력(좌)', '청력(우)', '수축기혈압', '이완기혈압',
       '식전혈당(공복혈당)', '총콜레스테롤', '트리글리세라이드', 'HDL콜레스테롤', 'LDL콜레스테롤', '혈색소',
       '요단백', '혈청크레아티닌', '(혈청지오티)AST', '(혈청지오티)ALT', '감마지티피', '흡연상태',
       '구강검진 수검여부', '치석', '당뇨병 의사 판정', '고혈압 의사 판정', '간기능 이상여부', '알콜성간염여부'],
      dtype='object')

In [12]:
# df1 col이 이렇다.
# 다른 csv도 이런가? 
df2 = pd.read_csv("2016_health_checkup_2.csv")
df2 # shape을 확인

,가입자일련번호,성별코드,연령대코드(5세단위),시도코드,신장(5Cm단위),체중(5Kg단위),허리둘레,시력(좌),시력(우),청력(좌),...,(혈청지오티)AST,(혈청지오티)ALT,감마지티피,흡연상태,구강검진 수검여부,치석,당뇨병 의사 판정,고혈압 의사 판정,간기능 이상여부,알콜성간염여부
0,740577,2,6,11,165.0,65.0,30.0,1.2,1.0,1.0,...,18.0,10.0,7.0,1.0,0,NaN,0.0,0.0,0.0,0.0
1,994961,2,13,45,150.0,35.0,50.0,0.7,0.8,1.0,...,23.0,12.0,13.0,1.0,1,0.0,0.0,0.0,0.0,0.0
2,498461,2,12,44,155.0,35.0,51.0,0.3,0.4,1.0,...,20.0,8.0,6.0,1.0,0,NaN,0.0,0.0,0.0,1.0
3,596525,2,6,41,155.0,35.0,51.0,1.0,0.8,1.0,...,22.0,11.0,13.0,1.0,0,NaN,0.0,0.0,0.0,0.0
4,186709,2,18,48,140.0,40.0,51.0,0.5,0.4,1.0,...,17.0,9.0,20.0,1.0,0,NaN,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249995,920694,1,14,45,NaN,NaN,90.0,1.5,9.9,2.0,...,27.0,19.0,35.0,1.0,0,NaN,0.0,1.0,0.0,0.0
249996,933726,1,11,45,NaN,NaN,86.0,0.9,0.8,1.0,...,19.0,15.0,66.0,1.0,0,NaN,0.0,0.0,0.0,0.0
249997,950762,2,10,45,NaN,NaN,83.0,1.0,1.0,1.0,...,15.0,18.0,27.0,1.0,0,NaN,1.0,0.0,0.0,0.0
249998,969362,1,8,41,NaN,NaN,90.0,1.2,1.2,1.0,...,20.0,20.0,20.0,2.0,0,NaN,0.0,0.0,0.0,0.0
249999,992166,1,9,11,NaN,NaN,NaN,NaN,NaN,NaN,...,23.0,35.0,57.0,2.0,0,NaN,0.0,0.0,0.0,0.0

In [13]:
# df1의 col과 같다.
df2.columns

Index(['가입자일련번호', '성별코드', '연령대코드(5세단위)', '시도코드', '신장(5Cm단위)', '체중(5Kg단위)',
       '허리둘레', '시력(좌)', '시력(우)', '청력(좌)', '청력(우)', '수축기혈압', '이완기혈압',
       '식전혈당(공복혈당)', '총콜레스테롤', '트리글리세라이드', 'HDL콜레스테롤', 'LDL콜레스테롤', '혈색소',
       '요단백', '혈청크레아티닌', '(혈청지오티)AST', '(혈청지오티)ALT', '감마지티피', '흡연상태',
       '구강검진 수검여부', '치석', '당뇨병 의사 판정', '고혈압 의사 판정', '간기능 이상여부', '알콜성간염여부'],
      dtype='object')

In [15]:
df1.shape

(250000, 31)

In [16]:
df2.shape

(250000, 31)

- concat : col이 같은 df 여러 개를 df 한 개로 병합할 때 사용
- tab키 : 작성 중에 tab 키를 누르면 자동완성이 된다. (파일며)

In [17]:
# col이 서로 같다.
# val은 다르다.
# 이거를 merge into one df해서 분석해보고 싶다. 


# 위에서 아래로 붙이기
# : df1 아래에 df2를 붙이려면 반드시 아래 순서로 작성해야 한다.
# 50만건
# 새로운 변수로 선언하면 
# 우리가 원하는 형태로 들고다니면서 데이터를 사용할 수 있다.

df3 = pd.concat([df1, df2])

In [18]:
# csv 4개가 있다.
# concat 한번으로 df 3개 merge가 가능한가?
# 가능하다. 
df4 = pd.read_csv("2016_health_checkup_3.csv")
pd.concat([df1, df2, df4])

,가입자일련번호,성별코드,연령대코드(5세단위),시도코드,신장(5Cm단위),체중(5Kg단위),허리둘레,시력(좌),시력(우),청력(좌),...,(혈청지오티)AST,(혈청지오티)ALT,감마지티피,흡연상태,구강검진 수검여부,치석,당뇨병 의사 판정,고혈압 의사 판정,간기능 이상여부,알콜성간염여부
0,604509,1,12,41,165.0,65.0,7.0,1.2,1.0,1.0,...,21.0,17.0,17.0,1.0,0,NaN,0.0,0.0,0.0,0.0
1,360197,2,17,43,130.0,25.0,50.0,0.3,0.9,1.0,...,18.0,7.0,19.0,1.0,0,NaN,0.0,0.0,0.0,1.0
2,201061,2,17,45,150.0,135.0,51.0,0.5,0.5,1.0,...,21.0,18.0,24.0,1.0,0,NaN,1.0,0.0,0.0,0.0
3,586237,2,12,41,145.0,35.0,51.0,1.5,0.7,1.0,...,15.0,14.0,18.0,3.0,0,NaN,0.0,0.0,0.0,0.0
4,922457,2,9,11,150.0,35.0,51.0,1.2,1.0,1.0,...,18.0,10.0,20.0,1.0,1,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249995,921014,1,8,28,NaN,NaN,82.0,0.9,1.2,1.0,...,22.0,29.0,44.0,3.0,0,NaN,0.0,0.0,0.0,0.0
249996,936418,2,9,45,NaN,NaN,69.0,1.5,1.5,1.0,...,17.0,11.0,24.0,1.0,0,NaN,0.0,0.0,0.0,0.0
249997,952842,1,12,26,NaN,NaN,81.0,1.5,0.9,2.0,...,15.0,16.0,42.0,1.0,1,0.0,0.0,0.0,0.0,0.0
249998,971446,2,16,27,NaN,NaN,80.0,NaN,NaN,2.0,...,60.0,52.0,60.0,1.0,1,0.0,0.0,0.0,1.0,0.0
249999,995666,2,11,45,NaN,NaN,79.0,0.6,0.7,1.0,...,20.0,15.0,18.0,1.0,0,NaN,0.0,0.0,0.0,0.0

In [21]:
# # 그럼 매번 이렇게 불러와서 일일이 붙여야 하는가? 
# csv 파일이 많을 경우
# 변수로 일일이 불러와서 concat에 넣는 list에 
# 변수명을 일일이 써써 concat 하면 안된다.

# 이럴 때, for loop와 같은 Python 코드를 사용하면
# 이름이 비슷한 파일을 한번에 가져올 수 있다.

# 실무에서도 숫자만 다르고 파일명이 비슷한 경우가 많다.
for i in ['1', '2', '3', '4']:
    print("2016_health_checkup_" + i + ".csv")

2016_health_checkup_1.csv
2016_health_checkup_2.csv
2016_health_checkup_3.csv
2016_health_checkup_4.csv

In [23]:
# 이런 로직을 잘 응용하면
# concat을 사용해서 여러 개를 한번에 붙일 수 있다.


df_raw = pd.DataFrame()
for i in ['1', '2', '3', '4']:
    df_ = pd.read_csv("2016_health_checkup_" + i + ".csv")
    # df_raw에 df_를 붙이자.
    # 업데이트
    df_raw = pd.concat([df_raw, df_])

In [25]:
# 25만건씩 4개 100만건
df_raw

,가입자일련번호,성별코드,연령대코드(5세단위),시도코드,신장(5Cm단위),체중(5Kg단위),허리둘레,시력(좌),시력(우),청력(좌),...,(혈청지오티)AST,(혈청지오티)ALT,감마지티피,흡연상태,구강검진 수검여부,치석,당뇨병 의사 판정,고혈압 의사 판정,간기능 이상여부,알콜성간염여부
0,604509,1,12,41,165.0,65.0,7.0,1.2,1.0,1.0,...,21.0,17.0,17.0,1.0,0,NaN,0.0,0.0,0.0,0.0
1,360197,2,17,43,130.0,25.0,50.0,0.3,0.9,1.0,...,18.0,7.0,19.0,1.0,0,NaN,0.0,0.0,0.0,1.0
2,201061,2,17,45,150.0,135.0,51.0,0.5,0.5,1.0,...,21.0,18.0,24.0,1.0,0,NaN,1.0,0.0,0.0,0.0
3,586237,2,12,41,145.0,35.0,51.0,1.5,0.7,1.0,...,15.0,14.0,18.0,3.0,0,NaN,0.0,0.0,0.0,0.0
4,922457,2,9,11,150.0,35.0,51.0,1.2,1.0,1.0,...,18.0,10.0,20.0,1.0,1,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249995,924026,2,7,41,NaN,NaN,999.0,0.8,1.2,1.0,...,36.0,48.0,17.0,1.0,0,NaN,0.0,0.0,0.0,0.0
249996,944802,1,7,45,NaN,NaN,77.0,0.8,0.6,1.0,...,20.0,25.0,29.0,1.0,1,0.0,0.0,0.0,0.0,0.0
249997,960034,1,12,26,NaN,NaN,84.0,0.9,1.2,2.0,...,23.0,27.0,51.0,2.0,1,1.0,0.0,0.0,0.0,0.0
249998,979986,1,6,30,NaN,NaN,76.0,1.2,1.5,1.0,...,18.0,23.0,77.0,1.0,0,NaN,0.0,0.0,0.0,0.0
249999,996778,1,6,41,NaN,NaN,76.0,1.2,1.0,1.0,...,14.0,10.0,10.0,1.0,0,NaN,0.0,0.0,0.0,0.0

In [31]:
[str(i) for i in range(10)]

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

In [30]:
# 1번부터 9번까지 병합하는 방법
df_raw = pd.DataFrame()
for i in range(1, 5):
    df_ = pd.read_csv("2016_health_checkup_"+ str(i) +".csv")
    df_raw = pd.concat([df_raw, df_])

# loop 이해
# empty, 1
# empty1, 2
# empty12, 3
# empty123, 4

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9']

- 이름이 조금씩 다른 파일 여러 개를 모두 불러와서 한번에 병합하는 로직
> - 행 다르고, 열 같은 데이터
> - 다음:

### My way
- csv 4개가 있다.
- df 4개로 불러올 수 있다.
- df 4개를 df 1개로 merge하고 싶다.
- df 4개 col이 같다.

- 2016_health_checkup_1.csv
- 2016_health_checkup_2.csv
- 2016_health_checkup_3.csv
- 2016_health_checkup_4.csv

In [43]:
# df 4개 col 정말 모두 같은가? 
# df 4개 한번에 merge into one df.
df_raw = pd.DataFrame()
for i in range(1, 5):
    df_ = pd.read_csv("2016_health_checkup_" + str(i) + ".csv")
    df_raw = pd.concat([df_raw, df_])
    
    if i != 1:
        print(df_raw.columns.equals(df_.columns))

True
True
True

### df1.columns.equals(df2.columns)

`df1.columns.equals(df2.columns)`는 두 개의 데이터프레임의 컬럼 이름이 모두 같은지를 확인하는 코드입니다. 

`df1.columns`는 `df1` 데이터프레임의 컬럼 이름을 담은 `Index` 객체를 반환하고, `df2.columns`는 `df2` 데이터프레임의 컬럼 이름을 담은 `Index` 객체를 반환합니다. 

그리고 `Index.equals()` 메서드는 두 개의 `Index` 객체가 동일한지 여부를 반환합니다. 

따라서 `df1.columns.equals(df2.columns)`는 두 개의 데이터프레임의 컬럼 이름이 모두 같은 경우에만 `True`를 반환합니다. 

다음은 사용 예시입니다.

```python
import pandas as pd

# 예제 데이터프레임 생성
df1 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df2 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df3 = pd.DataFrame({'A': [1, 2, 3], 'C': [4, 5, 6]})

# 비교
df1.columns.equals(df2.columns) # True
df1.columns.equals(df3.columns) # False
```

In [ ]:
# df 4개 모두 col이 같다.
# merge 하자.

In [40]:
df1

Empty DataFrame
Columns: []
Index: []