In [2]:
import pandas as pd

In [4]:
df1 = pd.read_csv("01_Contract_data.csv")

In [6]:
df1.info() # 데이터의 구조와 타입 확인

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51301 entries, 0 to 51300
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Index          51301 non-null  int64
 1   Member_ID      51301 non-null  int64
 2   Sales_Type     51301 non-null  object
 3   Contract_Type  51301 non-null  object
 4   Channel        51301 non-null  object
 5   Datetime       51301 non-null  object
 6   Term           51301 non-null  int64
 7   Payment_Type   51301 non-null  object
 8   Product_Type   51301 non-null  object
 9   Amount_Month   51301 non-null  int64
 10  Customer_Type  51299 non-null  object
 11  Age            44329 non-null  float64
 12  Address1       51299 non-null  object
 13  Address2       51299 non-null  object
 14  State          51301 non-null  object
 15  Overdue_count  51301 non-null  int64
 16  Overdue_Type   51301 non-null  object
 17  Gender         51301 non-null  object
 18  Credit_Rank    42520 non-null  float64
 19  Bank           48542 non-null  object
dtypes: float64(2), int64(5), object(13)
memory usage: 7.8+ MB

In [33]:
df1.describe()

,Index,Member_ID,Term,Amount_Month,Age,Overdue_count,Credit_Rank
count,51301.000000,5.130100e+04,51301.000000,51301.000000,44329.000000,51301.000000,42520.000000
mean,25651.703612,6.266432e+07,55.639149,93994.974289,50.024093,0.161381,3.428810
std,14809.828628,1.216146e+07,12.009915,15304.263988,10.983877,1.122193,2.213453
min,1.000000,2.568798e+07,12.000000,54603.000000,25.000000,0.000000,0.000000
25%,12826.000000,6.643148e+07,60.000000,81900.000000,42.000000,0.000000,1.000000
50%,25652.000000,6.676578e+07,60.000000,96900.000000,49.000000,0.000000,3.000000
75%,38477.000000,6.678160e+07,60.000000,98400.000000,57.000000,0.000000,5.000000
max,51302.000000,6.696986e+07,60.000000,215700.000000,102.000000,15.000000,10.000000

## indexing (원하는 데이터 추출하기)
- 행단위 추출(행(row, index)단위로 데이터 가져오기)
> - df.head() : 상위 5개 데이터 추출
> - df.tail(): 하위 5개 데이터 추출
> - df.iloc[] : 원하는 범위 데이터 행단위 추출
- 열단위 추출(col)
> - df["col"] : ser 형태로 열 단위 추출 (col 하나만 열단위로 indexing 때 사용)
> - df[["col"]] : df 형태로 열 단위 추출 (col 두개 이상 열단위로 indexing할 때 사용)
>> - df[["col1", "col2"]] : df 형태로 col1, col2 추출

실무에서 5만 건에 20개 열은 데이터 양이 많은 게 아니다. 
공장에서 data를 받아오면, 열 개수만 50개가 넘는 경우가 많다. 
즉, 실무자의 기준에서도 데이터 양이 많은 상황이 있다.
이런 상황에서 indexing을 사용해서 본인이 분석할 수 있는 data만
행 단위 indexing 또는 열 단위 indexing을 사용해서 추출해야 한다. 

<br>
내가 분석할 수 있는 데이터만 indexing으로 가져와서 분석하는 것이 가장 효과적이다. 
그래야 보기도 쉽고 다루기도 어렵지 않다. 
<br>

실무에서는 indexing해서 분석해야 한다.

In [7]:
df1.head()

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
0,1,66758234,렌탈,일반계약,영업방판,2019-05-06,60,CMS,DES-1,96900,개인,42.0,경기도,경기도,계약확정,0,없음,여자,9.0,새마을금고
1,2,66755948,렌탈,교체계약,영업방판,2020-02-20,60,카드이체,DES-1,102900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,2.0,현대카드
2,3,66756657,렌탈,일반계약,홈쇼핑/방송,2019-02-28,60,CMS,DES-1,96900,개인,48.0,경기도,경기도,계약확정,0,없음,여자,8.0,우리은행
3,4,66423450,멤버십,멤버십3유형,재계약,2019-05-13,12,CMS,DES-1,66900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,5.0,농협회원조합
4,5,66423204,멤버십,멤버십3유형,재계약,2019-05-10,12,CMS,DES-1,66900,개인,60.0,경기도,경기도,기간만료,12,있음,남자,8.0,농협회원조합

In [9]:
df1.tail()

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
51296,51298,66579515,렌탈,프로모션계약,대형마트A,2019-03-01,60,CMS,DES-3A,96900,개인,47.0,경기도,경기도,계약확정,0,없음,남자,NaN,기업은행
51297,51299,66799558,렌탈,일반계약,대형마트A,2019-04-01,60,CMS,DES-1,96900,개인,42.0,경기도,경기도,계약확정,0,없음,여자,8.0,새마을금고
51298,51300,66799197,렌탈,프로모션계약,영업방판,2019-04-01,39,카드이체,ERA,120900,개인,65.0,서울특별시,서울특별시,계약확정,0,없음,여자,1.0,롯데카드
51299,51301,66792778,렌탈,일반계약,홈쇼핑/방송,2020-02-06,60,카드이체,DES-1,96900,개인,54.0,서울특별시,서울특별시,계약확정,0,없음,여자,2.0,롯데카드
51300,51302,66799607,렌탈,일반계약,홈쇼핑/방송,2019-04-24,60,CMS,DES-1,96900,개인,53.0,서울특별시,서울특별시,계약확정,0,없음,여자,8.0,신한은행

In [13]:
df2 = df1.head(50) # 상위 50개 데이터를 추출하여, 새로운 변수로 선언 (특정 범위의 데이터)

In [15]:
# 중간에 있는 데이터 indexing할 때 사용하는 함수
# iloc: index loaction
df1.iloc[100:200] # index 100부터 index199까지 100개
df1.iloc[df1.index]

AttributeError: 'RangeIndex' object has no attribute 'median'

In [16]:
df1.iloc[:50] # df1.head(50)과 같은 df를 리턴

,Index,Member_ID,Sales_Type,Contract_Type,Channel,Datetime,Term,Payment_Type,Product_Type,Amount_Month,Customer_Type,Age,Address1,Address2,State,Overdue_count,Overdue_Type,Gender,Credit_Rank,Bank
0,1,66758234,렌탈,일반계약,영업방판,2019-05-06,60,CMS,DES-1,96900,개인,42.0,경기도,경기도,계약확정,0,없음,여자,9.0,새마을금고
1,2,66755948,렌탈,교체계약,영업방판,2020-02-20,60,카드이체,DES-1,102900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,2.0,현대카드
2,3,66756657,렌탈,일반계약,홈쇼핑/방송,2019-02-28,60,CMS,DES-1,96900,개인,48.0,경기도,경기도,계약확정,0,없음,여자,8.0,우리은행
3,4,66423450,멤버십,멤버십3유형,재계약,2019-05-13,12,CMS,DES-1,66900,개인,39.0,경기도,경기도,계약확정,0,없음,남자,5.0,농협회원조합
4,5,66423204,멤버십,멤버십3유형,재계약,2019-05-10,12,CMS,DES-1,66900,개인,60.0,경기도,경기도,기간만료,12,있음,남자,8.0,농협회원조합
5,6,66165241,렌탈,프로모션계약,영업방판,2019-07-29,60,CMS,DES-3A,90900,개인,53.0,경상도,경상도,계약확정,0,없음,여자,5.0,농협중앙회
6,7,66751017,렌탈,패키지계약,홈쇼핑/방송,2019-01-30,60,카드이체,DES-1,98400,개인,66.0,경상도,경상도,계약확정,0,없음,남자,1.0,롯데카드
7,8,66751017,렌탈,패키지계약,홈쇼핑/방송,2019-01-17,60,카드이체,DES-2,80400,개인,66.0,경상도,경상도,계약확정,0,없음,남자,1.0,롯데카드
8,9,66758007,렌탈,일반계약,영업방판,2019-06-30,60,카드이체,DES-3A,102900,개인,62.0,경상도,경상도,계약확정,0,없음,여자,2.0,롯데카드
9,10,66756702,렌탈,프로모션계약,영업방판,2019-06-30,60,CMS,DES-1,105900,개인,51.0,경상도,경상도,계약확정,0,없음,여자,1.0,신한은행
10,11,66757254,렌탈,패키지계약,홈쇼핑/방송,2019-07-23,60,카드이체,DES-1,81900,개인,39.0,경상도,경상도,계약확정,0,없음,여자,1.0,국민카드
11,12,66757254,렌탈,패키지계약,홈쇼핑/방송,2019-08-09,60,카드이체,DES-2,81900,개인,39.0,경상도,경상도,계약확정,0,없음,여자,1.0,국민카드
12,13,66355286,렌탈,프로모션계약,영업방판,2020-02-10,60,카드이체,DES-3A,90900,개인,35.0,경상도,경상도,계약확정,0,없음,여자,7.0,현대카드
13,14,66757861,렌탈,일반계약,영업방판,2020-02-10,60,CMS,DES-1,96900,개인,50.0,경상도,경상도,계약확정,0,없음,남자,1.0,농협중앙회
14,15,66758085,렌탈,프로모션계약,영업방판,2020-07-11,60,CMS,DES-2,90900,개인,48.0,경상도,경상도,계약확정,0,없음,남자,1.0,농협회원조합
15,16,66423049,멤버십,멤버십3유형,재계약,2019-04-29,12,CMS,DES-1,66900,개인,59.0,전라도,전라도,계약확정,0,없음,여자,2.0,농협회원조합
16,17,66190995,렌탈,프로모션계약,홈쇼핑/방송,2019-06-25,60,카드이체,DES-1,96900,개인,61.0,경상도,부산광역시,계약확정,0,없음,남자,1.0,롯데카드
17,18,66757035,렌탈,프로모션계약,전문매장H,2019-09-28,60,CMS,DES-1,96900,개인,32.0,경상도,부산광역시,해약확정,0,없음,여자,4.0,부산은행
18,19,66423249,멤버십,멤버십3유형,재계약,2020-01-17,12,CMS,DES-1,66900,개인,87.0,경상도,부산광역시,계약확정,0,없음,여자,2.0,농협중앙회
19,20,66755490,렌탈,프로모션계약,영업방판,2020-01-17,60,카드이체,DES-1,105900,개인,58.0,경상도,부산광역시,계약확정,0,없음,여자,1.0,롯데카드
20,21,66423230,멤버십,멤버십3유형,재계약,2020-04-02,12,CMS,DES-1,66900,개인,43.0,경상도,부산광역시,계약확정,0,없음,여자,2.0,우리은행
21,22,66758336,렌탈,프로모션계약,전문매장Z,2020-04-25,60,CMS,DES-1,111900,개인,72.0,경상도,부산광역시,계약확정,0,없음,남자,9.0,농협회원조합
22,23,66758074,렌탈,일반계약,영업방판,2020-07-23,60,CMS,DES-1,96900,개인,NaN,충청도,충청도,계약확정,0,없음,여자,1.0,농협중앙회
23,24,66758074,렌탈,일반계약,영업방판,2019-01-01,60,CMS,DES-2,87900,개인,NaN,충청도,충청도,계약확정,0,없음,여자,1.0,농협중앙회
24,25,66755833,렌탈,패키지계약,전문매장Z,2019-01-21,60,CMS,DES-1,134700,개인,40.0,충청도,충청도,계약확정,0,없음,여자,7.0,우체국
25,26,66755833,렌탈,패키지계약,전문매장Z,2019-01-29,60,CMS,DES-2,89400,개인,40.0,충청도,충청도,계약확정,0,없음,여자,7.0,우체국
26,27,66422938,멤버십,멤버십3유형,재계약,2019-02-12,12,CMS,DES-1,66900,개인,73.0,강원도,강원도,계약확정,0,없음,여자,2.0,신한은행
27,28,66755125,렌탈,프로모션계약,홈쇼핑/방송,2019-02-24,60,카드이체,DES-1,105900,개인,50.0,경기도,경기도,계약확정,0,없음,여자,1.0,롯데카드
28,29,66422513,멤버십,멤버십3유형,재계약,2019-03-15,12,CMS,DES-1,66900,개인,48.0,경기도,경기도,계약확정,0,없음,여자,2.0,농협회원조합
29,30,66419239,렌탈,교체계약,영업방판,2019-04-08,60,CMS,DES-1,96900,개인,38.0,경기도,경기도,계약확정,0,없음,여자,NaN,국민은행
30,31,25702131,멤버십,멤버십3유형,재계약,2019-04-28,12,CMS,DES-1,66900,사업자,NaN,경기도,경기도,계약확정,0,없음,여자,NaN,기업은행
31,32,66422449,멤버십,멤버십3유형,재계약,2019-05-31,12,CMS,DES-1,66900,개인,51.0,경기도,경기도,계약확정,0,없음,여자,1.0,농협중앙회
32,33,25742841,렌탈,프로모션계약,영업방판,2019-08-10,60,CMS,DES-1,142200,사업자,57.0,경기도,경기도,계약확정,0,없음,여자,NaN,농협회원조합
33,34,66758615,렌탈,프로모션계약,대형마트H,2019-08-21,60,CMS,DES-1,96900,개인,48.0,서울특별시,서울특별시,계약확정,0,없음,남자,7.0,농협중앙회
34,35,66758778,렌탈,일반계약,홈쇼핑/방송,2019-09-03,60,CMS,DES-1,96900,개인,59.0,서울특별시,서울특별시,계약확정,0,없음,여자,5.0,우리은행
35,36,25742683,렌탈,프로모션계약,대형마트E,2019-10-05,60,CMS,DES-3A,102900,사업자,48.0,서울특별시,서울특별시,계약확정,0,없음,여자,NaN,신한은행
36,37,66127796,렌탈,프로모션계약,영업방판,2019-11-26,60,CMS,DES-2,90900,개인,43.0,서울특별시,서울특별시,계약확정,0,없음,여자,1.0,우리은행
37,38,25851817,멤버십,멤버십3유형,재계약,2020-01-23,12,CMS,DES-1,96600,사업자,NaN,서울특별시,서울특별시,해약확정,0,없음,여자,NaN,국민은행
38,39,66528773,렌탈,일반계약,홈쇼핑/방송,2020-04-11,60,CMS,DES-1,96900,개인,48.0,서울특별시,서울특별시,계약확정,0,없음,남자,3.0,국민은행
39,40,25742687,렌탈,프로모션계약,영업방판,2020-07-24,60,CMS,DES-1,142200,사업자,63.0,서울특별시,서울특별시,계약확정,0,없음,여자,NaN,SC제일은행
40,41,25742687,렌탈,일반계약,영업방판,2019-06-18,60,CMS,DES-2,96900,사업자,63.0,서울특별시,서울특별시,계약확정,0,없음,여자,NaN,SC제일은행
41,42,25742687,렌탈,일반계약,영업방판,2019-08-02,60,CMS,DES-2,96900,사업자,63.0,서울특별시,서울특별시,계약확정,0,없음,여자,NaN,SC제일은행
42,43,66758315,렌탈,프로모션계약,영업방판,2019-09-06,60,CMS,DES-1,105900,개인,29.0,서울특별시,서울특별시,계약확정,0,없음,여자,6.0,우리은행
43,44,66758224,렌탈,프로모션계약,영업방판,2019-09-07,60,CMS,DES-1,105900,개인,57.0,서울특별시,서울특별시,계약확정,0,없음,여자,1.0,우리은행
44,45,66211709,렌탈,교체계약,영업방판,2019-12-19,60,CMS,DES-1,96900,개인,65.0,서울특별시,서울특별시,계약확정,0,없음,남자,4.0,농협회원조합
45,46,66135112,렌탈,교체계약,영업방판,2019-06-20,60,CMS,DES-1,96900,개인,51.0,서울특별시,서울특별시,계약확정,0,없음,여자,1.0,신한은행
46,47,66758431,렌탈,일반계약,홈쇼핑/방송,2019-02-27,60,카드이체,DES-1,96900,개인,62.0,서울특별시,서울특별시,계약확정,0,없음,여자,1.0,국민카드
47,48,66423714,멤버십,멤버십3유형,재계약,2019-02-27,12,CMS,DES-1,66900,개인,65.0,서울특별시,서울특별시,계약확정,0,없음,남자,3.0,농협중앙회
48,49,66754342,렌탈,패키지계약,홈쇼핑/방송,2019-01-08,60,카드이체,DES-1,98400,개인,37.0,서울특별시,서울특별시,계약확정,0,없음,남자,5.0,현대카드
49,50,66754342,렌탈,패키지계약,홈쇼핑/방송,2019-02-28,60,카드이체,DES-2,80400,개인,37.0,서울특별시,서울특별시,계약확정,0,없음,남자,5.0,현대카드

### 열단위 데이터 추출

In [19]:
df1["Age"] # ser 형태(index-value)로 추출

0        42.0
1        39.0
2        48.0
3        39.0
4        60.0
         ...
51296    47.0
51297    42.0
51298    65.0
51299    54.0
51300    53.0
Name: Age, Length: 51301, dtype: float64

In [20]:
df1[["Age"]] # df 형태(index-column-value)로 추출

        Age
0      42.0
1      39.0
2      48.0
3      39.0
4      60.0
...     ...
51296  47.0
51297  42.0
51298  65.0
51299  54.0
51300  53.0

[51301 rows x 1 columns]

In [21]:
df1.columns

Index(['Index', 'Member_ID', 'Sales_Type', 'Contract_Type', 'Channel',
       'Datetime', 'Term', 'Payment_Type', 'Product_Type', 'Amount_Month',
       'Customer_Type', 'Age', 'Address1', 'Address2', 'State',
       'Overdue_count', 'Overdue_Type', 'Gender', 'Credit_Rank', 'Bank'],
      dtype='object')

In [24]:
# 여러 열을 ser 형태로 추출하면 error가 발생하는 이유:
# Ser는 index-value 구조로 구성 되어 있음
# 따라서 Ser는 index-column-value 구조를 이해할 수 없음
# 그러므로 col 두 개 이상 indexing을 해야 하는 경우, 
# Ser가 아닌 df로 indexing을 해야 함. 
df1["Sales_Type", "Contract_Type", "Amount_Month"]

KeyError: ('Sales_Type', 'Contract_Type', 'Amount_Month')

In [26]:
df3 = df1[["Sales_Type", "Contract_Type", "Amount_Month"]]

In [29]:
# 조합해서 사용하기 : 이런식으로 여러 함수를 조합해서(이어서) 사용할 수 있다.
df3.head(100)

   Sales_Type Contract_Type  Amount_Month
0          렌탈          일반계약         96900
1          렌탈          교체계약        102900
2          렌탈          일반계약         96900
3         멤버십        멤버십3유형         66900
4         멤버십        멤버십3유형         66900
..        ...           ...           ...
95         렌탈        프로모션계약         90900
96         렌탈          일반계약         96900
97         렌탈        프로모션계약         96900
98         렌탈        프로모션계약         96900
99        멤버십        멤버십3유형         75900

[100 rows x 3 columns]

In [30]:
# 저 col 두개 상위 1천개만 새로운 변수에 선언하고 싶다: 열 두개 indexing하고 1천 개 추출
df4 = df1[["Product_Type", "Bank"]].head(1000)
df4

    Product_Type    Bank
0          DES-1   새마을금고
1          DES-1    현대카드
2          DES-1    우리은행
3          DES-1  농협회원조합
4          DES-1  농협회원조합
..           ...     ...
995        DES-1    BC카드
996        DES-1    롯데카드
997        DES-1     NaN
998        DES-1    신한은행
999        DES-1    삼성카드

[1000 rows x 2 columns]

In [32]:
# 순서를 반대로 해보기: 1천개 먼저 추출하고 열 두개만
df1.head(1000)[["Product_Type", "Bank"]]

    Product_Type    Bank
0          DES-1   새마을금고
1          DES-1    현대카드
2          DES-1    우리은행
3          DES-1  농협회원조합
4          DES-1  농협회원조합
..           ...     ...
995        DES-1    BC카드
996        DES-1    롯데카드
997        DES-1     NaN
998        DES-1    신한은행
999        DES-1    삼성카드

[1000 rows x 2 columns]